@if (targetUserId()) {
<div class="chat-container">

  <header class="chat-header">
    <h2>Chat: {{ currentUsername() }}</h2>
  </header>

  <main class="chat-messages">
    @for (msg of messages(); track $index) {

    <div class="message-row" [class.my-message]="msg.senderId !== targetUserId()"
      [class.their-message]="msg.senderId === targetUserId()">

      <div class="message-bubble">
        <strong>{{ msg.senderId === targetUserId() ? currentUsername() : currentUserNickname() }}:</strong>
        {{ msg.text}}
      </div>

    </div>

    } @empty {
    <div class="chat-empty">
      Chat is empty
    </div>
    }
  </main>

  <footer class="chat-input-area">
    <input #msgInput type="text" placeholder="Message..." (keyup.enter)="send(msgInput.value); msgInput.value = ''"
      autofocus>
    <button (click)="send(msgInput.value); msgInput.value = ''">
      Send
    </button>
  </footer>

</div>
} @else {
<div class="loading-screen">
  Profile loading...
</div>
}